{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": [
    "semistandard",
    "prettier"
  ],
  "rules": {
    "new-cap": ["error", {
      "newIsCapExceptions": ["j2xParser"]
    }]
  },
  "overrides": [
    {
      "files": "test/**/*.js",
      "env": {
        "mocha": true
      },
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
